<div class="container">
  <a  ng-show="true" class="welcome" ng-if="main.currentUser">
  <h3>Welcome, {{ main.currentUser.username }}!</h3>
</a>
    <div class="flowers">
      <div class="flower" ng-repeat="flower in main.flowers">
            <p>Name: {{flower.name}}</p>
            <p>Date Planted: {{flower.date_planted}}</p>
            <p>Perennial or Annual: {{flower.perennial_or_annual}}</p>
            <p>Sun: {{flower.sun}}</p>
            <p>Water: {{flower.water}}</P>
            <p>Memo: {{flower.memo}}</p>
          <div class="nav">
           <!-- <div class="edit-form" ng-show="main.showEditForm"> -->
            <button  id="edit-button" class="btn btn-primary btn-sm" ng-click="main.setFlowerToEdit(flower); main.startEditing()">Edit</button>
            <button  class="btn btn-primary btn-sm" ng-click="main.deleteFlower(main.user.id,  flower.id)">Delete</button>
          </div>
        </div>
      </div>
    <div class="nav" ng-hide="main.isCreating || main.isEditing">
      <button  id="add-flowers"class="btn btn-primary btn-sm" ng-click="main.startCreating()">Add Flowers!</button>
  </div>
      <div ng-show="main.isCreating" class="create-form">
          <form ng-submit="main.addFlower(main.newFlower, main.user.id)">
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" ng-model="main.newFlower.name">
    </div>
    <div>
      <label for="date_planted">Date Planted</label>
      <input id="date_planted" type="text" ng-model="main.newFlower.date_planted">
    </div>
    <div>
      <label for="perennial_or_annual">Perennial or Annual</label>
      <input id="annual" type="text" ng-model="main.newFlower.perennial_or_annual">
    </div>
    <div>
      <label for="sun">Sun</label>
      <input id="sun" type="text" ng-model="main.newFlower.sun">
    </div>
    <div>
      <label for="water">Water</label>
      <input id="water" type="text" ng-model="main.newFlower.water">
    </div>
    <div>
      <label for="memo">Memo</label>
      <input id="memo" type="text" ng-model="main.newFlower.memo">
    </div>
      <button  class="btn btn-primary btn-sm" id="add-flower" type="submit">Add Flower!</button>
      </form>
      <button  class="btn btn-primary btn-sm" ng-click="main.reset(newFlower)">Done</button>
    </div>

    <div ng-show="main.isEditing" class="edit-form">
      <form ng-submit="main.updateFlower(main.editedFlower)" action="#">
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" ng-model="main.editedFlower.name">
    </div>
    <div>
      <label for="date_planted">Date Planted</label>
      <input id="date_planted" type="text" ng-model="main.editedFlower.date_planted">
    </div>
    <div>
      <label for="perennial_or_annual">Perennial or Annual</label>
      <input id="annual" type="text" ng-model="main.editedFlower.perennial_or_annual">
    </div>
    <div>
      <label for="sun">Sun</label>
      <input id="sun" type="text" ng-model="main.editedFlower.sun">
    </div>
    <div>
      <label for="water">Water</label>
      <input id="water" type="text" ng-model="main.editedFlower.water">
    </div>
    <div>
      <label for="memo">Memo</label>
      <input id="memo" type="text" ng-model="main.editedFlower.memo">
    </div>
      <button  class="btn btn-primary btn-sm" type="submit" ng-click="main.editFlower(main.editedFlower)">Edit This Flower!</button>
    </form>
    </div>
  </div>
</body>
