<div class="container">
Hello from home.html
    <!-- <h1 class="header">Hello{{user.username}}</h1> -->
    <div class="flowers">
      <div class="flower" ng-repeat="flower in main.flowers">
            <p>Name: {{flower.name}}</p>
            <p>Date Planted: {{flower.datePlanted | date:'short'}}</p>
            <p>Perennial or Annual: {{flower.perennialOrAnnual}}</p>
            <p>Sun: {{flower.sun}}</p>
            <p>Water: {{flower.water}}</P>
            <p>Memo: {{flower.memo}}</p>
         <div class="nav">
            <button  id="edit-button" class="btn btn-primary btn-sm" ng-click="main.setFlowerToEdit(flower); main.startEditing()">Edit</button>
            <button  class="btn btn-primary btn-sm" ng-click="main.deleteFlower(main.user.id,  main.flower.id)">&#10006</button>
          </div>
        </div>
      </div>
    <div class="nav" ng-hide="main.isCreating || main.isEditing">
      <button  class="btn btn-primary btn-sm" ng-click="main.startCreating()">Add Flowers!</button>
  </div>
      <div ng-show="main.isCreating" class="form">
          <form ng-submit="main.addFlower(main.newFlower, main.user.id)">
      <!-- <div>
        <label for="newFlower">New Flower</label>
        <input type="text" ng-model="main.newFlower">
    </div> -->
    <div>
      <label for="name">Name</label>
      <input type="text" ng-model="main.newFlower.name">
    </div>
    <div>
      <label for="datePlanted">Date Planted</label>
      <input type="date" ng-model="main.newFlower.datePlanted">
    </div>
    <div>
      <label for="perennialOrAnnual">Perennial or Annual</label>
      <input type="text" ng-model="main.newFlower.perennialOrAnnual">
    </div>
    <div>
      <label for="sun">Sun</label>
      <input type="text" ng-model="main.newFlower.sun">
    </div>
    <div>
      <label for="water">Water</label>
      <input type="text" ng-model="main.newFlower.water">
    </div>
    <div>
      <label for="memo">Memo</label>
      <input type="text" ng-model="main.newFlower.memo">
    </div>
      <button  class="btn btn-primary btn-sm" id="add-flower" type="submit">Add Flower!</button>
      </form>
      <button  class="btn btn-primary btn-sm" ng-click="main.reset(newFlower)">Reset</button>
    </div>

    <div ng-show="main.isEditing" class="edit-form">
      <form ng-submit="main.editFlower(main.editedFlower)" action="#">
    <div>
      <label for="newFlower">New Flower</label>
      <input type="text" ng-model="main.editedFlower.newFlower">
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" ng-model="main.editedFlower.name">
    </div>
    <div>
      <label for="datePlanted">Date Planted</label>
      <input type="date" ng-model="main.editedFlower.datePlanted">
    </div>
    <div>
      <label for="perennialOrAnnual">Perennial or Annual</label>
      <input type="text" ng-model="main.editedFlower.perennialOrAnnual">
    </div>
    <div>
      <label for="sun">Sun</label>
      <input type="text" ng-model="main.editedFlower.sun">
    </div>
    <div>
      <label for="water">Water</label>
      <input type="text" ng-model="main.editedFlower.water">
    </div>
    <div>
      <label for="memo">Memo</label>
      <input type="text" ng-model="main.editedFlower.memo">
    </div>
      <button  class="btn btn-primary btn-sm" type="submit">Edit This Flower!</button>
    </form>
    </div>
  </div>
    <button id='logout' ui-sref='logout' ui-sref-active='active' ng-click='main.logout(user)'>Log Out</button>
</div>
</body>
