body {
  background-image: url('http://i.imgur.com/JjYGymZ.jpg');
  background-size: cover;
  font-family: 'Nixie One', cursive;
  font-weight: 500;
  background-repeat: repeat-x;
  color: #5D4037;
  /*color: #fcf8e3;*/
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  text-shadow: 2px 2px #dff0d8;
  text-align: center;
  margin-top: 6%;
  color: #555;
}

h3 {
  text-shadow: 2px 2px #dff0d8;
  color: #555;
}

a:hover {
  text-decoration: none;
}

h5 {
  font-size: 1.5em;
  margin-left: 3%;
}

.user-logs {
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.btn-default {
  background-image: linear-gradient(to bottom,#dff0d8 0,rgba(255, 255, 255, 0) 100%);  background-repeat: repeat-x;
  border-color: #5cb85c;
  color: #e009c2;
  background-color: rgba(223, 243, 215, 0.5);
  width: 233%;
  font-weight: bolder;
  font-size: larger;
}

.signup-form-control {
  background-color: transparent;
  border-color: #5cb85c;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin: 0%;
  width: 32%;
}

.signup-form-group {
  /*background-color: red;*/
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1%;
  text-shadow: 0.5px 0.5px #dff0d8;
  color: #fcf8e3;
  font-size: 27px;
  text-shadow: 0.5px 0.5px rgba(223, 240, 216, 0);
}

.row {
  margin-top: 5%;
}

.end {
  margin-left: 47%;
  margin-top: 6%;
  text-shadow: 0.5px 0.5px #dff0d8;
  color: #524a4a;
}

.signup-block {
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.login-form-group {
  width: 61%;
  display: block;
  justify-content: center;
  align-content: center;
  margin-left: 16%;
  margin-top: 5%;
  text-shadow: 0.5px 0.5px #dff0d8;
  color: #524a4a;
  font-size: 20px;
}

.login-form {
  background-color: transparent;
  border-color: #5cb85c;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.create-form, .edit-form  {
  font-size: 18px;
  color: #fcf8e3;
}

.checkbox {
  margin-left: 32%;
}

.flowers {
  color: #eee;
  font-size: 20px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 6%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.flower {
  border: solid 1px;
  padding: 1%;
  display: inline-block;

}

.btn-primary {
  background-repeat: repeat-x;
  border-color: #5cb85c;
  background-image: linear-gradient(to bottom,#dff0d8 0,rgba(255, 255, 255, 0) 100%);
  color: #e009c2;
  background-color: rgba(223, 243, 215, 0.5);
}

.btn small {
  background-color: transparent;
  background-image: linear-gradient();
}

#e-mail {
  margin-left: 7%;
}

#username1  {
  margin-left: 4%;
}

#username2, #password2 {
  margin-right: 5%;
}

#password1 {
margin-left: 4%;
}

#login {
  margin-right: 1%;
}

#login2 {
  width: 25%;
  justify-content: center;
  align-content: center;
  margin-left: 41%;
  margin-top: 3%;
}

#signup2 {
  width: 25%;
  justify-content: center;
  align-content: center;
  margin-left: 42%;
  margin-top: 3%;
}

#login3 {
  width: 25%;
}

#logout {
  margin-left: 15%;
  /*width: 8%;
  margin-top: -31%;
  margin-left: 86%;
  display: flex;
  padding-top: 0.5%;
  padding-left: 2%;
  position:fixed;*/
}

#add-flowers {
  justify-content: center;
}

#input, #input1 {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-color: #5cb85c;
  background-color: transparent;
  border-radius: 5px;
  width: 70%;
  height: 2vw;
  margin-left: 8%;
  color: #fcf8e3;
  font-size: 1.5em;
}

#name, #date_planted, #annual, #sun, #water, #memo {
  background-color: transparent;
  border-color: #5cb85c;
  color: #fcf8e3;
}
